body{
    background-image: url("../images/light-grey-terrazzo.png");
}

.container{
    background-color: white;
}

.about{
    margin-top: 20px;
}

h1{
    background-color: #4aaaa5;
    font-family: Georgia, Times, Times New Roman, serif;
    padding: 15px;
    font-size: 40px;
}

.profile-pic{
    float: left;
    margin: 10px;
}

h2{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid lightgrey;;
}

p{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

p + p{
    margin-top: 15px;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #2196F3;
    border-top: 4px solid darkgrey;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-items{
    color: white;
    display: flex;
    justify-content: space-around;
}

.icon-right{
    margin-right: 10px;
}

.footer-items a{
    color: white;
}